{% comment %} 

HTML file to be used as base for all user-facing pages,
ALL imports go here that are to be used unless it is a specific library


{% endcomment %}

<!DOCTYPE html>
<!-- all client-facing pages inherit from this for consistency -->
<!-- css includes -->
{% load static %}
<link href="{% static 'css/material.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/extra.css' %}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet">
</head>
<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
    
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"> </div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title"><span class="splash"><a href="/"><img src="{% static 'img/pi_dark.png' %} " class="splash_image" style="opacity: .7;" width="42" height="42"></a> </span></span>
    <nav class="mdl-navigation">
    {% for s in stations %}
      <a class="mdl-navigation__link" id="" href="/stations/{{s.sid}}"><strong>{{s.title}} {{s.id}}</strong><br>{{s.desc}}</a>

    {% empty %}
      <a class="mdl-navigation__link" id="" href="#">Connect a station to get started</a>

    {% endfor %}
    </nav>
  </div>
    
      {% block content %}
      {% endblock %}

   </div> 

</body>
<script type="text/javascript" src="{% static 'scripts/jquery-3.5.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'mdl/material.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/socket.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/listeners.js' %}"></script>
